.container {
  display: flex;
  gap: 100px;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title {
  font-size: 96px;
}

.desc {
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.button:first-child {
  background-color: var(--btn);
  color: var(--text);
}
.brands {
  position: relative;
  width: 500px;
  height: 50px;
  filter: grayscale(100%);
  gap: 50px;
}



.imageContainer {
  position: relative;
  flex: 1;
}

@media (max-width: 1024px) {
  .container {
  flex-direction: column;
  text-align: center;
  }
  .buttons{
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .title {
font-size: 64px;
  }
  .brands {
    width: 100%;
  }
}